@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --bg-color-1: #f2d8a7;
  --bg-color-2: #d9af63;
  --bg-color-3: #bf8c4e;
  --bg-color-4: #c8a76e;
  --bg-color-5: #84643f;

  --txt-body: #242424;
  --white: #ffffff;
  --gray: #989898;

  --bg-section-light: rgba(208, 187, 130, 0.149);
  --bg-section-dark: #393939;
  --bg-footer: #242424;

  --bg-gradient: linear-gradient(
    131deg,
    #76593a -3.63%,
    #c8a76e 55.5%,
    #76593a 107.94%
  );
}
